<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />
  </head>
  <body class="d-flex flex-column min-vh-100">
    <!-- navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light " style="background-color: rgb(255, 231, 254)">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src= {{rutaLogo}} style="height: 80px; width: auto ; border-radius: 3em;" alt="KANWU">
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#Menu"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" style="font-size: 1.5em;" id="Menu">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/"><i class="bi bi-house-door-fill"></i> Inicio</a>
              <hr>
            </li>
            <li class="nav-item">
              <a class="nav-link active"  (click)="scrollTo('services')"><i class="bi bi-bag-heart"></i> Servicios</a>
              <hr>
            </li>
            <li class="nav-item">
              <a class="nav-link active" (click)="scrollTo('us')"><i class="bi bi-bookmark-heart-fill"></i> Nosotros</a>
              <hr>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class=" mt-5" style="
              height: 100vh;
              width: 100vw;">
      <figure class="figure" style="position: absolute;">
        <img src="{{img}}" class="figure-img img-fluid rounded " 
        style="position: relative;
          height: 100vh;
          width: 100vw;
          background-attachment: fixed;
          background-position: center;
          object-fit: cover;
          background-repeat: no-repeat;
          background-size: cover;" 
        alt="A generic square placeholder image with rounded corners in a figure.">
      </figure>
      <div class="container-fluid text-overlay">
        <div class="row mt-5">
          <div class="col-sm-12 col-lg-6 mt-5" >
            <h1 class="display-2">Album example</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur. Lorem ipsum, dolor sit
              amet consectetur adipisicing elit. Eligendi quaerat molestias
              rerum in fugit dolorum dolore hic, provident accusamus
              perspiciatis deserunt, necessitatibus neque inventore! Adipisci
              doloremque repellendus deleniti provident est.
            </p>
          </div>
        </div>
        <div class="row flex-lg-row">
          <div class="col-sm-12 col-lg-6 mt-3">
            <button class="btn btn-lg  btn-light" (click)="openWhatsapp()">
              <i class="bi bi-whatsapp"></i>
              contactanos</button>
          </div>
        </div>
      </div>
    </section>
    <!-- seccion de contacto -->
    <section id="us" class="py-3">
      <div class="container">
        <div class="row py-3 text-overlay">
          <div class="col-lg-12">
            <h2 class="display-4" style="color: white;">¿Quienes somos?</h2>
            <hr>
          </div>
        </div>
        <div class="row aling-items-center py-3">
          <div class="col-sm-12">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{{img}}" class="d-block img-fluid w-100" alt="prueba">
                </div>
                <div class="carousel-item">
                  <img src="{{img}}" class="d-block img-fluid w-100" alt="prueba">
                </div>
                <div class="carousel-item">
                  <img src="{{img}}" class="d-block img-fluid w-100" alt="prueba">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
        <div class="row py-3">
          <div class="col-lg-6 col-mb-12 py-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Misión</h5>
                <p class="card-text">
                  Descripción breve de la misión de la empresa y su propósito.
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                  vitae turpis eu odio placerat venenatis. Duis vehicula nulla
                  eget turpis dapibus, eget fringilla magna aliquam.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-mb-12 py-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Visión</h5>
                <p class="card-text">
                  Descripción de la visión de la empresa a futuro. Lorem ipsum
                  dolor sit amet, consectetur adipiscing elit. Sed vitae turpis
                  eu odio placerat venenatis. Duis vehicula nulla eget turpis
                  dapibus, eget fringilla magna aliquam.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="services">
      <div class="container">
        <div class="row py-3 text-overlay">
          <div class="col">
            <h2 class=" display-4" style="color: white;">Servicios</h2>
            <hr>
          </div>
        </div>
        <div class="row text-center py-3 px-3">
          <div class="col-sm-12 col-lg-3 col-mb-6 py-3 px-3">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="{{img}}" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-lg-3 col-mb-6 py-3 px-3">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="{{img}}" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-lg-3 col-mb-6 py-3 px-3">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="{{img}}" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-lg-3 col-mb-6 py-3 px-3">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="{{img}}" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-lg-3 col-mb-6 py-3 px-3">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="{{img}}" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-lg-3 col-mb-6 py-3 px-3">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="{{img}}" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </section>
  </body>
  <div class="footer mt-auto py-3 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <blockquote>
            <h4>Información de contacto</h4>
          </blockquote>
          <hr>
          <p>Dirección: 123 Calle de las Niñeras, Ciudad, País</p>
          <p>Teléfono: +1234567890</p>
          <p>Email: info@nanny.com</p>
        </div>
        <div class="col-md-6 col-sm-12">
          <blockquote>
            <h4>Redes Sociales</h4>
          </blockquote>
          <hr>
          <ul class="list-inline ">
            <li class="list-inline-item"><a href="{{urlInstagram}}" style="color: black;"><i class="bi bi-facebook"></i></a></li>
            <li class="list-inline-item"><a href="{{urlInstagram}}" style="color: black;"><i class="bi bi-twitter"></i></a></li>
            <li class="list-inline-item"><a href="{{urlInstagram}}" style="color: black;"><i class="bi bi-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="text-center">Copyright &copy; Nanny 2024</p>
        </div>
      </div> 
    </div>      
  </div>
  <app-footer></app-footer>
</html>
