.text-overlay {
  position: relative;
  color: white; /* Cambia el color del texto según sea necesario para que se vea bien con la imagen */
}

.parallax {
  background-image: url("../assets/BGMonterrey.jpg");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  background-color: darkmagenta;
  border-color: darkorchid;
  color: white;
  padding: 15px 32px;
}
