.text-overlay {
  margin-top: 20%;
  position: relative;
  color: white; /* Cambia el color del texto según sea necesario para que se vea bien con la imagen */
}

.text-title {
  color: white; /* Cambia el color del texto según sea necesario para que se vea bien con la imagen */
}
body {
  background-color: #ffb8f7;
}

.icon-strong {
  font-size: 2em;
  color: black;
}



